<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>파일명</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="name" placeholder="이름을 입력하세요" />
      <br />
      <input type="text" v-model="user.age" placeholder="나이를 입력하세요" />
      <br />
      <input
        type="text"
        v-model="user.email"
        placeholder="이메일을 입력하세요"
      />
      <br />
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript">
      const { createApp, ref, reactive, watch } = Vue;

      const app = createApp({
        setup() {
          const name = ref('');
          const user = reactive({
            age: 0,
            email: '',
          });
          watch(name, (newVal, oldVal) => {
            console.log(`이름 변경 : ${oldVal} ---> ${newVal}`);
          });
          watch(
            () => ({ ...user }),
            (newVal, oldVal) => {
              // watch는 첫번째 인자로 감시하고 싶은 데이터의 getter 함수를 받는다
              // reactive 객체를 직접 감시할 경우 newVal, oldVal은 동일한 proxy 객체를 참조하게 된다
              // 따라서 이전값과의 비교를 하려면 객체를 복사해야함.
              console.log(`user.age 변경 : ${oldVal.age} ---> ${newVal.age}`);
              console.log(
                `user.email 변경 : ${oldVal.email} ---> ${newVal.email}`
              );
            },
            // 중첩된 객체의 변경도 감지
            { deep: true }
          );
          return {
            name,
            user,
          };
        },
      });

      const vm = app.mount('#app');
    </script>
  </body>
</html>
