<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>파일명</title>
    <style>
      .btnColor {
        background-color: aqua;
        color: black;
      }
      .btnAlign {
        text-align: center;
        width: 120px;
      }
      .btnBorder {
        border: khaki dashed 1px;
      }
    </style>
  </head>
  <body>
    <!--  -->
    <div id="app">
      <input type="checkbox" id="color" v-model="btnColor" />

      <label for="color">색상</label>
      <br />
      <input type="checkbox" id="size" v-model="btnAlign" />
      <label for="size">정렬, 크기</label>
      <br />
      <input type="checkbox" id="bord" v-model="btnBorder" />
      <label for="bord">테두리</label>
      <br />
      <button :class="{btnColor, btnAlign, btnBorder}">버튼</button>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript">
      const { createApp, ref } = Vue;

      const app = createApp({
        setup() {
          const btnColor = ref(false);
          const btnAlign = ref(false);
          const btnBorder = ref(false);
          return {
            btnColor,
            btnAlign,
            btnBorder,
          };
        },
      });

      const vm = app.mount('#app');
    </script>
  </body>
</html>
